# Ignorar la carpeta node_modules
node_modules/

# Ignorar archivos de registro
*.log

# Ignorar variables de entorno
.env

# Ignorar salidas de compilación
dist/
build/

# Ignorar archivos del sistema
.DS_Store
Thumbs.db

# Ignorar archivos específicos de IDE
.vscode/
.idea/
*.iml

# Ignorar carpetas de entornos virtuales
venv/

# Ignorar archivos de caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/